{% extends 'base.html' %}
{% block content %}



    <form id="form-login" method="POST">

        <h2>Please Log In</h2>

            <label for="email-field">Email Address</label>
            <input type="email"
                   name="email"
                   placeholder="Email Address"
                   required
                   autofocus>
      
  
            <label for="password-field">Password</label>
            <input type="password"
                   name="password"
                   placeholder="Password"
                   required>
       

        <button type="submit">Log In
        </button>

    </form>

  
{% endblock %}