{% extends 'base.html' %}
{% block content %}


  <h2>Movie information</h2>
  <ul>
        <li> Movie Name:  {{ movie.movie_name }} </li>
        <li> Release Date:  {{ movie.release_date }}</li>
        <li><a href={{ movie.imdb_url }}>Go to this movie's IMDB page</a> </li>
        <li> Ratings for this movie 
          <ul>
                {% for rating in movie.ratings %}
                <li> {{rating.movie_score}}</li>

                {% endfor %}
          </ul>  
        </li>
  </ul>

  <h3>Rate this movie</h3>

  <form id="rating-form">
  <label>
  <input type="radio" name="rating" value="1">1
  <input type="radio" name="rating" value="2">2
  <input type="radio" name="rating" value="3">3
  <input type="radio" name="rating" value="4">4
  <input type="radio" name="rating" value="5">5
  </label>
  <button type="submit">Submit rating</button>
  </form> 




{% endblock %}